!!! 5
html
  head
    title silkveil.js
    link(rel='stylesheet', type='text/css', href='/styles/reset.css')
    link(rel='stylesheet', type='text/css', href='/styles/text.css')
    link(rel='stylesheet', type='text/css', href='/styles/960.css')
    link(rel='stylesheet', type='text/css', href='/styles/core.css')
    script(type='text/javascript', src='/nowjs/now.js')
    script(type='text/javascript', src='/scripts/jquery-1.7.2.min.js')
    script(type='text/javascript', src='/scripts/jade.min.js')
  body
    .container_12
      #header.grid_12
        h1 silkveil.js
        h2
          | Protect your downloads | 
          a(href='?language=de-DE') de-DE 
          | | 
          a(href='?language=en-US') en-US
      #content
        block content
