!!! 5
html
  head
    title silkveil.js
    link(rel='stylesheet', type='text/css', href='/styles/reset.css')
    link(rel='stylesheet', type='text/css', href='/styles/text.css')
    link(rel='stylesheet', type='text/css', href='/styles/960.css')
    link(rel='stylesheet', type='text/css', href='/styles/core.css')
  body
    .container_12
      #header.grid_12
        h1 silkveil.js
        h2 Protect your downloads
      #content.grid_12
        block content
