!!! 5
html
  head
    title silkveil.js
    !{renderStyleTags()}
    !{renderScriptTags()}
  body
    .container_12
      #header.grid_12
        h1 silkveil.js
        h2
          | Protect your downloads | 
          a(href='?language=de-DE') de-DE 
          | | 
          a(href='?language=en-US') en-US
      #content
        block content
