body{color:#445;font-family:Sans-Serif;font-size:small;padding:7px}
a{color:#05c;font-weight:bold;text-decoration:none;}
a:focus,a:hover{text-decoration:underline}
#header h1{font-size:250%;font-weight:bold;margin:21px 0 0 0}
#header h2{font-size:125%;font-weight:bold;margin:0 0 35px 0;text-transform:lowercase}
#content .mapping{background-color:#ccd;border:solid 1px #445;border-radius:7px;box-sizing:border-box;-moz-box-sizing:border-box;height:235px;margin:0 7px 7px 0;padding:7px;}
#content .mapping h3{font-size:150%;font-weight:bold;margin:0 0 7px 0}
#content .mapping h4{font-size:110%;cont-style:italic;font-weight:bold;margin:14px 0 7px 0}
#content .mapping .key{font-style:italic}
#content .mapping div{margin:0;overflow:hidden;padding:0;text-overflow:ellipsis;white-space:nowrap}
